footer {
  border: 1px solid #234f1e;
  width: 100%;
  justify-items: center;
  padding: 20px;
  background-color: #d4ebfd;
}

footer p {
  font-size: 14px;
  color: rgb(250, 248, 248);
  text-align: center;
  margin: 10px 0;
}
