form {
  height: auto;
  width: 100%;
}

input {
  border: 1px solid #234f1e;
  border-radius: 40px;
  padding: 10px;
  width: 300px;
  height: auto;
  justify-items: center;
}

label {
  display: block;
  margin: 5px;
}
textarea {
  width: 400px;
  height: auto;
  border: 1px solid #234f1e;
  border-radius: 40px;
  padding: 60px;
  justify-items: center;
}

button[type="submit"] {
  border-radius: 40px;
  padding: 10px;
  margin: 5px;
  border: 1px solid #234f1e;
}
