footer {
  border: 1px solid #234f1e;
  width: 100%;
  justify-items: center;
  padding: 20px;
  background-color: #f7bd7b;
}

footer p {
  font-size: 14px;
  color: rgb(6, 5, 5);
  text-align: center;
  margin: 10px 0;
}
